# Gradle
.gradle/
build/
**/build/
local.properties
*.iml
.idea/
.DS_Store
captures/
.externalNativeBuild/
.cxx/
*.apk
*.ap_
*.aab
keystore.properties
*.jks
*.keystore
mindora-release.jks
google-services.json.bak
/functions/node_modules/
